.testimonial-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin: 20px;
    width: 95vw;
    
  }

  .nav-button {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95vw;
  }

  .avatar {
    margin-bottom: 10px;
  }

  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .content {
    text-align: center;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }

  .avatar {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 10px;
}

.avatar img {
    width: 100px; /* Keep the width fixed */
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image covers the entire container */
}
