<section class="banner-container">
    <div class="banner-image-container">
      <img src="../../../assets/img/saving-img.png" alt="Cosmetic Products" class="banner-image">
      <div class="image-overlay">
        <div class="overlay-content">
          <h2>Enhance Your Natural Beauty</h2>
          <p>Discover our exclusive range of cosmetic products.</p>
          <button class="shop-now-button">Shop Now</button>
        </div>
      </div>
    </div>
    <div class="banner-text-container">
      <div class="text-section">
        <i class="fas fa-magic"></i>
        <h3>Premium Quality</h3>
        <p>Our products are crafted with the finest ingredients.</p>
      </div>
      <div class="text-section">
        <i class="fas fa-gift"></i>
        <h3>Perfect Gifts</h3>
        <p>Find the perfect beauty gifts for your loved ones.</p>
      </div>
    </div>
  </section>
  