<html>
<body>
    <div class="video-background">
      <video autoplay muted loop class="video">
        <source src="../../../assets/videos/vecteezy_cosmetic-charm-lipstick-on-a-pink-backdrop-copy-space_40517755.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  
    <div class="login-form-container">
      <div class="logo-container">
        <img src="../../../assets/img/MLT_logo-removebg.png" alt="Logo" class="logo">
      </div>
      <h2 class="text-center text-indigo-600 mb-4">Welcome Back!</h2>
      <p class="text-center text-gray-600 mb-6">Log in to your account to access all the features and stay updated.</p>
      <form>
        <div class="mb-4">
          <label for="username" class="form-label text-gray-700">Username</label>
          <input type="text" id="username" class="form-control" placeholder="Enter your username">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label text-gray-700">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Enter your password">
        </div>
        <div class="mb-4 flex justify-between items-center">
          <a href="#" class="text-indigo-600 hover:text-indigo-800 text-sm">Forgot Password?</a>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </body>
  </html>