<footer>
    <div class="footer-content">
      <div class="about-us">
        <h4>ABOUT US</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="contact-us">
        <h4>CONTACT US</h4>
        <p>+011234567890</p>
        <p>demogmail.com</p>
      </div>
      <div class="need-help">
        <h4>NEED HELP</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="newsletter">
        <h4>NEWSLETTER</h4>
        <p>Enter your email</p>
        <form action="">
          <input type="email" name="email" id="email">
          <button type="submit">SUBSCRIBE</button>
        </form>
      </div>
    </div>
    <div class="social-media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="copyright">© 2024 All Rights Reserved By Nijaadh</p>
  </footer>
  