<div class="bdy">
  <header>
    <div class="header-container">
      <div class="logo-container">
        <img src="../../../assets/img/MLT_logo-removebg.png" alt="Logo" class="logo">
      </div>
      <h1>eMaster</h1>
      <nav>
        <div class="menu-toggle" id="menu-toggle">
          <i class="fa fa-bars" aria-hidden="true" (click)="toggleMenu()"></i>
        </div>
        <ul class="nav-links" [class.active]="menuActive" id="nav-links">
          <li><a routerLink="home"><i class="fas fa-home"></i> Home</a></li>
          <li><a routerLink="shop"><i class="fas fa-store"></i> Shop</a></li>
          <li><a routerLink="home#whyus"><i class="fas fa-question-circle"></i> Why Us</a></li>
          <li><a routerLink="home#testimonial"><i class="fas fa-comment-dots"></i> Testimonials</a></li>
          <li><a routerLink="home#contactus"><i class="fas fa-phone-alt"></i> Contact Us</a></li>
          <li><a routerLink="cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
          <li>|</li>          
          <li><a routerLink="login"><i class="fas fa-sign-in-alt"  ></i> Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
